In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
# Read in the CSV files
top_2019 = pd.read_csv("Resources/cleaned_top10.csv")
decades = pd.read_csv("Resources/bigdf_clean.csv")

In [4]:
top_2019

,acousticness,danceability,duration,energy,liveness,loudness,speechiness,tempo(BPM),valence,year,popularity
0,0.19,0.67,217000,0.89,0.08,-4,0.04,97,0.80,2010,83
1,0.24,0.75,263000,0.93,0.52,-5,0.23,87,0.64,2010,82
2,0.10,0.76,200000,0.84,0.29,-3,0.14,120,0.71,2010,80
3,0.00,0.70,295000,0.92,0.08,-4,0.04,119,0.71,2010,79
4,0.02,0.64,221000,0.84,0.09,-5,0.04,109,0.43,2010,78
...,...,...,...,...,...,...,...,...,...,...,...
598,0.01,0.61,176000,0.66,0.20,-7,0.03,104,0.16,2019,75
599,0.21,0.75,206000,0.79,0.07,-6,0.12,95,0.61,2019,75
600,0.07,0.53,260000,0.76,0.09,-5,0.34,136,0.65,2019,70
601,0.01,0.60,217000,0.79,0.42,-6,0.07,114,0.24,2019,69
602,0.06,0.70,213000,0.44,0.13,-9,0.06,150,0.23,2019,67

In [5]:
decades

,Unnamed: 0,acousticness,danceability,duration,energy,instrumentalness,liveness,loudness,popularity,speechiness,tempo(BPM),valence,year
0,0,0.9950,0.708,158648,0.1950,0.563000,0.1510,-12.428,0,0.0506,118.469,0.7790,1928
1,1,0.9940,0.379,282133,0.0135,0.901000,0.0763,-28.454,0,0.0462,83.972,0.0767,1928
2,2,0.6040,0.749,104300,0.2200,0.000000,0.1190,-19.924,0,0.9290,107.177,0.8800,1928
3,3,0.9950,0.781,180760,0.1300,0.887000,0.1110,-14.734,0,0.0926,108.003,0.7200,1928
4,4,0.9900,0.210,687733,0.2040,0.908000,0.0980,-16.829,1,0.0424,62.149,0.0693,1928
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169904,169904,0.1730,0.875,163800,0.4430,0.000032,0.0891,-7.461,75,0.1430,100.012,0.3060,2020
169905,169905,0.0167,0.719,167468,0.3850,0.031300,0.1110,-10.907,64,0.0403,128.000,0.2700,2020
169906,169906,0.5380,0.514,180700,0.5390,0.002330,0.1080,-9.332,70,0.1050,123.700,0.1530,2020
169907,169907,0.0714,0.646,167308,0.7610,0.000000,0.2220,-2.557,70,0.0385,129.916,0.4720,2020
169908,169908,0.1090,0.512,214787,0.4280,0.000000,0.1050,-7.387,65,0.0271,80.588,0.3660,2020

In [7]:
# Drop from Big df
big_df = decades.drop(columns = ['Unnamed: 0','instrumentalness'])
big_df

,acousticness,danceability,duration,energy,liveness,loudness,popularity,speechiness,tempo(BPM),valence,year
0,0.9950,0.708,158648,0.1950,0.1510,-12.428,0,0.0506,118.469,0.7790,1928
1,0.9940,0.379,282133,0.0135,0.0763,-28.454,0,0.0462,83.972,0.0767,1928
2,0.6040,0.749,104300,0.2200,0.1190,-19.924,0,0.9290,107.177,0.8800,1928
3,0.9950,0.781,180760,0.1300,0.1110,-14.734,0,0.0926,108.003,0.7200,1928
4,0.9900,0.210,687733,0.2040,0.0980,-16.829,1,0.0424,62.149,0.0693,1928
...,...,...,...,...,...,...,...,...,...,...,...
169904,0.1730,0.875,163800,0.4430,0.0891,-7.461,75,0.1430,100.012,0.3060,2020
169905,0.0167,0.719,167468,0.3850,0.1110,-10.907,64,0.0403,128.000,0.2700,2020
169906,0.5380,0.514,180700,0.5390,0.1080,-9.332,70,0.1050,123.700,0.1530,2020
169907,0.0714,0.646,167308,0.7610,0.2220,-2.557,70,0.0385,129.916,0.4720,2020
169908,0.1090,0.512,214787,0.4280,0.1050,-7.387,65,0.0271,80.588,0.3660,2020

In [8]:
# Drop Popularity
top10_df = top_2019.drop(columns = 'popularity')
top10_df

,acousticness,danceability,duration,energy,liveness,loudness,speechiness,tempo(BPM),valence,year
0,0.19,0.67,217000,0.89,0.08,-4,0.04,97,0.80,2010
1,0.24,0.75,263000,0.93,0.52,-5,0.23,87,0.64,2010
2,0.10,0.76,200000,0.84,0.29,-3,0.14,120,0.71,2010
3,0.00,0.70,295000,0.92,0.08,-4,0.04,119,0.71,2010
4,0.02,0.64,221000,0.84,0.09,-5,0.04,109,0.43,2010
...,...,...,...,...,...,...,...,...,...,...
598,0.01,0.61,176000,0.66,0.20,-7,0.03,104,0.16,2019
599,0.21,0.75,206000,0.79,0.07,-6,0.12,95,0.61,2019
600,0.07,0.53,260000,0.76,0.09,-5,0.34,136,0.65,2019
601,0.01,0.60,217000,0.79,0.42,-6,0.07,114,0.24,2019
602,0.06,0.70,213000,0.44,0.13,-9,0.06,150,0.23,2019

In [9]:
big_df.to_csv('Resources/final_bigdf.csv')

In [10]:
top10_df.to_csv('Resources/final_top10.csv')

In [11]:
# Drop Popularity
top10_year_df = top_2019.drop(columns = ['popularity', 'year'])
top10_year_df

,acousticness,danceability,duration,energy,liveness,loudness,speechiness,tempo(BPM),valence
0,0.19,0.67,217000,0.89,0.08,-4,0.04,97,0.80
1,0.24,0.75,263000,0.93,0.52,-5,0.23,87,0.64
2,0.10,0.76,200000,0.84,0.29,-3,0.14,120,0.71
3,0.00,0.70,295000,0.92,0.08,-4,0.04,119,0.71
4,0.02,0.64,221000,0.84,0.09,-5,0.04,109,0.43
...,...,...,...,...,...,...,...,...,...
598,0.01,0.61,176000,0.66,0.20,-7,0.03,104,0.16
599,0.21,0.75,206000,0.79,0.07,-6,0.12,95,0.61
600,0.07,0.53,260000,0.76,0.09,-5,0.34,136,0.65
601,0.01,0.60,217000,0.79,0.42,-6,0.07,114,0.24
602,0.06,0.70,213000,0.44,0.13,-9,0.06,150,0.23

In [12]:
top10_df.to_csv('Resources/final_top10_no_year.csv')